{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}


<style>
    #header-waves {
        width: 65%;
        overflow: hidden;
        display: flex;
        justify-content: center;
    }

    /* Container needed to position the button. Adjust the width as needed */
    .container {
        position: relative;
        width: 50%;
    }

    /* Make the image responsive */
    .container img {
        width: 100%;
        height: auto;
    }

    .bg {
        border-radius: 15px;
    }

    /* Style the button and place it in the middle of the container/image */
    .container .btn {
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        font-size: 20px;
        padding: 12px 24px;
        cursor: pointer;
        border-radius: 5px;
        background-color: #11384b;
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        text-transform: uppercase;
        -webkit-box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
        box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
        -webkit-border-radius: 5px 5px 5px 5px;
        border-radius: 5px 5px 5px 5px;
        margin: 5px 20px 40px 20px;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    .container .btn:hover {
        background-color: #56baed;

    }

    .form {
        background-color: #15172b;
        border-radius: 20px;
        box-sizing: border-box;
        height: auto;
        padding: 20px;
        width: 560px;
        text-align: center;
        position: relative;
        margin: auto;
       
    }

    .title {
        color: #eee;
        font-family: "Poppins", sans-serif;
        font-size: 30px;
        font-weight: 600;
        margin-top: 30px;
    }

    .subtitle {
        color: #eee;
        font-family: "Poppins", sans-serif;
        font-size: 16px;
        font-weight: 600;
        margin-top: 10px;
    }

    .input-container {
        height: 50px;
        position: relative;
        width: 100%;
    }

    .ic1 {
        margin-top: 40px;
    }

    .ic2 {
        margin-top: 30px;
    }


    .back {
        background-image: url('https://raw.githubusercontent.com/hmpms-iscte/wake/main/wake_img/pexels_roupa.jpeg');
    }

    .imagem{
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        }

</style>

<body class="back">


    <!--FONTE: https://codepen.io/ainalem/pen/GRqPwoz-->

    <div class="bacdk">
        <br>
        <div class="form" >

            <div class="title">Este é o conjunto de roupa que mais se enquadra ao teu perfil</div>            
            <img class="imagem" src={{session['urlEstilo']}} />
        </div>

    </div>


 
</body>

{% endblock %}