{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
<style>
    .aboutUs {
        color: rgb(194, 194, 174);
        font-size: 20px;
    }

    .center_img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    /* Three image containers (use 25% for four, and 50% for two, etc) */
    .column {
        float: left;
        width: 17.5%;
        margin-left: auto;
        margin-right: auto;
        padding: 15px;
    }

    /* Clear floats after image containers */
    .row::after {
        content: "";
        clear: both;
        display: table;
    }
</style>


<div class="aboutUs"
    style="background-image: url('https://lh3.googleusercontent.com/ddw8-FD2UwWJjMc4aADZQiFw3SrD3EQHYfgvv7gyIzewYHwxootiOlXFuQSgizPbvOqS2NC9tDR-4xmJ33qirgeUdQx7gpNxv2ZlbnQv2SshJqInoWeU8I-jPvI3X9O_ki9LHfB4QhjiJwazsPsgnVdkeiOLsK3sWKmKVFTPgAwMYWAAKENRCDDHNadXhA5llfLqF2kKKwuP5-wrapuNVR8dwKfu9KDF_qf-Uu4VJDrMVqZP9Wz3LRMQSH7asGna4sdo5sspDwvn_nkNlSTnmUtqAgWoiO-ces6u6w-TNSRsN5lxm-lNS5FsST5d6WT5IpN-kVuoNJlkFmP0CncHma4-LYwZZdD54OcHO8sIkTETFNM242oMV3-odTkCG3GFsT1_0DRQzGh1V8Vwjh0LwFuTO8ygo9IdwXq_AA7zeVcrM2FGXGtptxcEuhNiqlq-buk3BjxWuMIz7Uxi73Z3WnBlumPBsiRfqNVKsidvxmbgf3sxZ1nhtnJ7LHVN3cQXZvM9XIrlf-Te__E-iqYroEDQOZIzlhdPO00ClAVm4OmvrnYvA6A5lPrDBXfVFXOaT8h63576uELDPvGylTY3aq0zBtv-_MWvZnHAiLT5yIZCJnVfu8a8ohjnAVDF9ioYddqek5EjDt0VfPd8OFwkahsO93Y7Gk_vwVJ7dTj-IDl3KpA6GYFqlYe_NF7QTwr6pxt-kCEEanVKn4n2IACH-FWb=w1366-h429-no?authuser=0');">
    <h1 style="text-align:center">Sobre Nós</h1>
    <p style="text-align:center">A WAKE é um projeto único em portugal com a ambição de juntar o melhor que a tecnologia
        pode oferecer à<br>
        necessidade de dar notoriedade às marcas de roupa portuguesas.
    </p>
    <p style="text-align:center">Somos uma equipa de 4 estudantes da licenciatura de Informática e Gestão de Empresas do
        ISCTE-IUL que fomos<br>
        desafiados
        a criar algo inovador e com potencial de negócio e vemos na WAKE esse potencial.
    </p>
    <img class="center_img"
        src="https://raw.githubusercontent.com/hmpms-iscte/wake/main/photo-1604176354204-9268737828e4.jpg"
        alt="profile" width="500" height="500">
    <h1 style="text-align:center"><br><br>A Nossa Equipa<br></h1>
    <div class="row">
        <div class="column">
            <img src="https://lh3.googleusercontent.com/vQrEr4WsR4FW9pNlZgvABnT_Q_yOL-6t9KbuH9IpCEoRhZeVYP6Go-mVtMFMdBQN8E8JY5bqeZQZ1R-67q38Is5EuRNpNQb4wLjArY75e6aVOu2SRrGS6GMRJikxHT0o5mPrzf8HZKJ2iEblckSTughxkANR3f-J6zJIlfiBaS0PNHH5Bbg4LkvGbiEWnQUGTiUfRqbSu0aHbpgTnaqWUlCUDj7yyuGbn6LxUMpJvrQaUDm9uqndBfehhFbmiZljK-4EsfONywhNMN5YqqxW9FAxqi6541695ej-RqRAfH3BhnJkjlhJiyHOvCFrDi7azVnhvaGw9RkVRXrGZQ_UgkenbpEgK5sURAaeEP7fsKmWkO7-MkxQ8YPxQbO_dyzuxpk1JOJhaX_H7XdFBIHoIPbZ5x9OLWrtncUvvnLr_buh9hEHbmSHVsx0rgFAJQLfDG1QUz_DIUXk1DfNxcnkI3R0G_MUafeAn6YVHAEQJuwe58TSWJpTDFJPpP0MyZlSsvEpYF3Op3hDRY2boBpyQAO7u-mRQpBogvlE8HcZjmKsgYmzRCaj8H9R6Aazip3BMNsLHbLXERhDfOGCawgFGAFGpu666081w3z33jmek5Vxj9aS47hmaxPTvX9NKU4uPuCC3c_CMCwk8wLf4f_KG2DBBQ27plWZMlgxstdduwxI2EQV9kx_s74-KGg5x16pKET6obPR9ct7y2kgj8V1oaMe=w323-h377-no?authuser=0"
                alt="henrique" style="width:100%"
                onmouseover=this.src="https://lh3.googleusercontent.com/z1JPPDplFcMtpubRJaZyL-Y2TBcVo8Wm2pAMjvpg45nSvGesK0RsNUyOeniYAokH3mbbUwQ_8qqSUe1w7lrfNjkpA9vPaGHCP5-Kosz9Rv_aYC5s7n9t26k17j0u6eWW2XbSHrC70619NRoXOXD5N23uFwTT50c6hu_GraqCVQmaoCX3aHtPRRIn968STyMLJ1ChAqbEIrRLLDFZe8zeO7tBrkQG4NGQg5XQa4HRFX7w7Feicx0SmVstek55Lw4SoIZ0dRHig9aqkCg8LvgLZPLFkYj3UsP5fGpXJdOu5SJ-cpQY5hZsHWZbh_SXYpwIcS2eg6ztb1z3a5zPIsV0KCccZfCs2KWoiFIO3gLbMGVG8znjoQMW2EAE8-RWzhBjUHplMFQXczkbqvq-uy0NBvkKLLDxKgN9r0bPGeh2cxkBFECul8gbgF01IpX_ENbHG81g1ej5gIRGyf_sr2D5UnTcktVbTISuUnScYpdAxWx0CDMpuKEtogg1MI40Tj71mKP_jmN8ioyP25qn0rcVme2DDu7RzG6QstFjtVo6SWhjB7Rhj89UNA_YfleJMQjnJ9fW_uxujQ_WmRoHG6nrLm8SF2xPaDtr9LZl4Ec1b6YQGZ9-XaYU8aYRql5JFNxJecbMg7mUr6qdrUe7yAbAWQIrLltCovjJ47PDJh8xRB8iJa3qQJ-J4waqemftGrMbqD0C55mxLQbvfJ2-erjgQXrZ=w328-h390-no?authuser=0"
                onmouseout=this.src="https://lh3.googleusercontent.com/vQrEr4WsR4FW9pNlZgvABnT_Q_yOL-6t9KbuH9IpCEoRhZeVYP6Go-mVtMFMdBQN8E8JY5bqeZQZ1R-67q38Is5EuRNpNQb4wLjArY75e6aVOu2SRrGS6GMRJikxHT0o5mPrzf8HZKJ2iEblckSTughxkANR3f-J6zJIlfiBaS0PNHH5Bbg4LkvGbiEWnQUGTiUfRqbSu0aHbpgTnaqWUlCUDj7yyuGbn6LxUMpJvrQaUDm9uqndBfehhFbmiZljK-4EsfONywhNMN5YqqxW9FAxqi6541695ej-RqRAfH3BhnJkjlhJiyHOvCFrDi7azVnhvaGw9RkVRXrGZQ_UgkenbpEgK5sURAaeEP7fsKmWkO7-MkxQ8YPxQbO_dyzuxpk1JOJhaX_H7XdFBIHoIPbZ5x9OLWrtncUvvnLr_buh9hEHbmSHVsx0rgFAJQLfDG1QUz_DIUXk1DfNxcnkI3R0G_MUafeAn6YVHAEQJuwe58TSWJpTDFJPpP0MyZlSsvEpYF3Op3hDRY2boBpyQAO7u-mRQpBogvlE8HcZjmKsgYmzRCaj8H9R6Aazip3BMNsLHbLXERhDfOGCawgFGAFGpu666081w3z33jmek5Vxj9aS47hmaxPTvX9NKU4uPuCC3c_CMCwk8wLf4f_KG2DBBQ27plWZMlgxstdduwxI2EQV9kx_s74-KGg5x16pKET6obPR9ct7y2kgj8V1oaMe=w323-h377-no?authuser=0">
        </div>
        <div class="column">
            <img src="https://lh3.googleusercontent.com/jNuNdGjt0Jf3wDPyMnpmFmMfJz-p073yN1KJ9AIMhr_rtFUIg7aK7CQxtOA3yR5ub5isJPU3HNjBCPxMMtyv9_WQpiDki4Wy7nlwlkM3cxuStkLwDqSuvlg_p9LVc7b9e35O-2FDNA9L4HqEuzTuxANm9AOMzkQAi10DffmgN7HCfNnLnGs5nrc2Mg_iCPf7tqa8hr57KyvaEIBYzuE6jRP-SlYcS2PFDzJPw3GzWjBe5yAcCHTLJK2ZwOrlrIVabU2dG5HQn0mA4t85zty9PXHplftIjGgNvy7Zs-7LE_Bu32Jw1xZHHXaJ1cKiWvcqocMaxoe8ZbMWgVB_Wbgdon8CfECscF-_6YiskPHKj1294z192die6Fmq6Y7NdcZjvmbhid37OWWAqPUJNoCIhNWn1TPzUjn7SoXECQoHgymj4ZO0xnNGZO11TdGlK88ZzeLBU1OBdOPYIddwYi94uU8M1kJ-5uDR8jh5uPERT4Oj4JyENib61rJNAmqljVzDY7M4i6Y7GkU1HgN_gkM2DPFtYkMykW-MvFsoLBeJRwCPq8EORJoB1CINNzDy41XsOVpmsCP43jOx_m8ZRGo6NZ4PSLlyr0ayGHqhefSAar9N_UTUBjQGgNvWQ287_6UVwnR93QTQ9dGjyEx1C8fcMUuRSCQQKMkcRxgOH0Q5XU7iiNWE4yzGvBY4vrgWMwDzo6q1OzdVR41seJLFGU2xCuNr=w326-h381-no?authuser=0"
                alt="vasco" style="width:100%" 
                onmouseover=this.src="https://lh3.googleusercontent.com/vQrEr4WsR4FW9pNlZgvABnT_Q_yOL-6t9KbuH9IpCEoRhZeVYP6Go-mVtMFMdBQN8E8JY5bqeZQZ1R-67q38Is5EuRNpNQb4wLjArY75e6aVOu2SRrGS6GMRJikxHT0o5mPrzf8HZKJ2iEblckSTughxkANR3f-J6zJIlfiBaS0PNHH5Bbg4LkvGbiEWnQUGTiUfRqbSu0aHbpgTnaqWUlCUDj7yyuGbn6LxUMpJvrQaUDm9uqndBfehhFbmiZljK-4EsfONywhNMN5YqqxW9FAxqi6541695ej-RqRAfH3BhnJkjlhJiyHOvCFrDi7azVnhvaGw9RkVRXrGZQ_UgkenbpEgK5sURAaeEP7fsKmWkO7-MkxQ8YPxQbO_dyzuxpk1JOJhaX_H7XdFBIHoIPbZ5x9OLWrtncUvvnLr_buh9hEHbmSHVsx0rgFAJQLfDG1QUz_DIUXk1DfNxcnkI3R0G_MUafeAn6YVHAEQJuwe58TSWJpTDFJPpP0MyZlSsvEpYF3Op3hDRY2boBpyQAO7u-mRQpBogvlE8HcZjmKsgYmzRCaj8H9R6Aazip3BMNsLHbLXERhDfOGCawgFGAFGpu666081w3z33jmek5Vxj9aS47hmaxPTvX9NKU4uPuCC3c_CMCwk8wLf4f_KG2DBBQ27plWZMlgxstdduwxI2EQV9kx_s74-KGg5x16pKET6obPR9ct7y2kgj8V1oaMe=w323-h377-no?authuser=0"
                onmouseout=this.src="https://lh3.googleusercontent.com/jNuNdGjt0Jf3wDPyMnpmFmMfJz-p073yN1KJ9AIMhr_rtFUIg7aK7CQxtOA3yR5ub5isJPU3HNjBCPxMMtyv9_WQpiDki4Wy7nlwlkM3cxuStkLwDqSuvlg_p9LVc7b9e35O-2FDNA9L4HqEuzTuxANm9AOMzkQAi10DffmgN7HCfNnLnGs5nrc2Mg_iCPf7tqa8hr57KyvaEIBYzuE6jRP-SlYcS2PFDzJPw3GzWjBe5yAcCHTLJK2ZwOrlrIVabU2dG5HQn0mA4t85zty9PXHplftIjGgNvy7Zs-7LE_Bu32Jw1xZHHXaJ1cKiWvcqocMaxoe8ZbMWgVB_Wbgdon8CfECscF-_6YiskPHKj1294z192die6Fmq6Y7NdcZjvmbhid37OWWAqPUJNoCIhNWn1TPzUjn7SoXECQoHgymj4ZO0xnNGZO11TdGlK88ZzeLBU1OBdOPYIddwYi94uU8M1kJ-5uDR8jh5uPERT4Oj4JyENib61rJNAmqljVzDY7M4i6Y7GkU1HgN_gkM2DPFtYkMykW-MvFsoLBeJRwCPq8EORJoB1CINNzDy41XsOVpmsCP43jOx_m8ZRGo6NZ4PSLlyr0ayGHqhefSAar9N_UTUBjQGgNvWQ287_6UVwnR93QTQ9dGjyEx1C8fcMUuRSCQQKMkcRxgOH0Q5XU7iiNWE4yzGvBY4vrgWMwDzo6q1OzdVR41seJLFGU2xCuNr=w326-h381-no?authuser=0">
        </div>
        <div class="column">
            <img src="https://lh3.googleusercontent.com/44qGhgsT276iJ0YtLh_sWdL-laHRGMV21EUBScpThAcEAmrrTmklQO1tFiLtcL4EjCsxCN6W1pn2R1ryrWbREQMEKLQ99CN9_pOR8tUmeL8cIgcAOXDSFxyhkLnDwNa18dZTJsLuHdpfNJB0PuUurPcYQyT7duLZ3phUAl2dU4V_7tl9l-pVoDpp1NURuuIe_XzYIBEAvB_9-MQzD9soaF7rr-aljeITn6OorCQpmNvd492CZOyNNOnFM_RXWuibJd8BwcIT9ThecBecDlzWQWV8XRiY6iHRsCLy1-kp9rE0x-kejqhT0QF3OQ4zdqHICzrCTUvzXmMWkiRSHLDP_2b8bxp68o5bsL0s6KitfWqJ7xljfOXdhUZH79quftl2tkQccKTyegMkDa6mbS0rMEgqj37EEV1bGPIdH6lphTOywRuOUCOfiC2fIOkhR4kjQvUQLVHwwZM9SWLKVDvgShdtI8C5m1Jfy3tEg8WKObV_0M7a-7NMTcWZ5BMQ08v7QG6lwwahWIYsaWpkVzDeoEUIe60RE86v47NaCzAZ5PibOBGW3oP5IKpW64kiCSks3NgCqG1sq78S-VxeDVT6pG0Ih_cZoQIIYE1kRE1ShXwIxQ0lALR-2WmU9M77pL-qzmKmdv7iL34UeDzfaylNdNm5-NGP0HgQ7VEL3KhTxNGA18mmkBBtgmtRElZ25vtD1cFiQXj_9pgoxzx9jGHmcaBh=w323-h377-no?authuser=0"
                alt="nazif" style="width:100%">
        </div>
        <div class="column">
            <img src="https://lh3.googleusercontent.com/2Adn3oVu2WikqRJeAfXKNSN66mj807ztA2ySktblysIE9myuSFw4BZxqaw4x6QTCIDvgWKZjKJpckHM5Ik6NY3-fIqGvvINPkQ4gRruRZ2RGkfbxfql3pYTOaPHWCwL7u-R9fZArxnIqxYTmMPffZy-Ep89qq9vqBYtx7HNLvcx-9CTEb5QOGkjbC5po3NxLB01g8i0E5hcM3b-GF46TaH3tmZsO6R1LkVL0XaiboiiR8KeUEnbedSqFSpjUnqPVYnIDXEIvLdM_Dg33Ru00aBs_eQ8Xx5NXiho_MIxaw0uoaD92_k8z8svqo5wy3AH62Kcqv0I2SxE-FFThWArwhWEQT33ANkgS0I4y3sYA7jTmGhYCYqIz-RABIMq1vDIZ9kzuOMGA2Qhiosiv1LToOzHNmkLB5biGRi1iur5CMjeuBtEAUL60LDvQrwsKPrMky1NholapACE-vRyFr6bBW_p_efXMzshfSMsXj2RzV-UyyMB4zfihKjxo0a_MBPfXJuVEQ9ChOsWSkU1nFED8RzwMpCwgs-YnSnHN6q7rC6p7yy4MxM4XPM4byKUmhd-85wlBmTH8Au3iqgSGdz3yrYpukC2PPM8ZX-H9COGC7Obi3WPqY7MQlfx5qzD04G7zzG_VsBVHflLidSUNmF4L09WFuUdgi4b3qd4ynU0JyVhh6mYxZa86G96jS_J2pU3kd1wVNwVOVU53YnHju5zNSQ2l=w326-h381-no?authuser=0"
                alt="pina" style="width:100%">
        </div>
    </div>
</div>

{% endblock %}