{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
<style>
    .aboutUs {
        color: rgb(194, 194, 174);
        font-size: 22px;
        font-family: "Bodoni MT";
        
    }

    .center_img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    /* Three image containers (use 25% for four, and 50% for two, etc) */
    .column {
        float: left;
        width: 17.5%;
        margin-left: auto;
        margin-right: auto;
        padding: 15px;
    }

    /* Clear floats after image containers */
    .row::after {
        content: "";
        clear: both;
        display: table;
    }
</style>


<div class="aboutUs"
    style="background-image: url('https://raw.githubusercontent.com/hmpms-iscte/wake/main/wake_img/dark-wood.png');">
    <h1 style="text-align:center">Sobre Nós</h1>
    <p style="text-align:center">A WAKE é um projeto único em portugal com a ambição de juntar o melhor que a tecnologia
        pode oferecer à<br>
        necessidade de dar notoriedade às marcas de roupa portuguesas.
    </p>
    <p style="text-align:center">Somos uma equipa de 4 estudantes da licenciatura de Informática e Gestão de Empresas do
        ISCTE-IUL que fomos<br>
        desafiados
        a criar algo inovador e com potencial de negócio e vemos na WAKE esse potencial.
    </p>
    <img class="center_img"
        src="https://images.unsplash.com/photo-1604176354204-9268737828e4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=580&q=80"
        alt="profile" width="500" height="500">
    <h1 style="text-align:center"><br><br>A Nossa Equipa<br></h1>
    <div class="row">
        <div class="column">
            <img src="https://raw.githubusercontent.com/hmpms-iscte/wake/main/wake_img/eu.png"
                alt="henrique" style="width:100%"
                onmouseover=this.src="https://raw.githubusercontent.com/hmpms-iscte/wake/main/wake_img/Imagem12.png"
                onmouseout=this.src="https://raw.githubusercontent.com/hmpms-iscte/wake/main/wake_img/eu.png">
        </div>
        <div class="column">
            <img src="https://raw.githubusercontent.com/hmpms-iscte/wake/main/wake_img/vasco.png"
                alt="vasco" style="width:100%" 
                onmouseover=this.src="https://lh3.googleusercontent.com/vQrEr4WsR4FW9pNlZgvABnT_Q_yOL-6t9KbuH9IpCEoRhZeVYP6Go-mVtMFMdBQN8E8JY5bqeZQZ1R-67q38Is5EuRNpNQb4wLjArY75e6aVOu2SRrGS6GMRJikxHT0o5mPrzf8HZKJ2iEblckSTughxkANR3f-J6zJIlfiBaS0PNHH5Bbg4LkvGbiEWnQUGTiUfRqbSu0aHbpgTnaqWUlCUDj7yyuGbn6LxUMpJvrQaUDm9uqndBfehhFbmiZljK-4EsfONywhNMN5YqqxW9FAxqi6541695ej-RqRAfH3BhnJkjlhJiyHOvCFrDi7azVnhvaGw9RkVRXrGZQ_UgkenbpEgK5sURAaeEP7fsKmWkO7-MkxQ8YPxQbO_dyzuxpk1JOJhaX_H7XdFBIHoIPbZ5x9OLWrtncUvvnLr_buh9hEHbmSHVsx0rgFAJQLfDG1QUz_DIUXk1DfNxcnkI3R0G_MUafeAn6YVHAEQJuwe58TSWJpTDFJPpP0MyZlSsvEpYF3Op3hDRY2boBpyQAO7u-mRQpBogvlE8HcZjmKsgYmzRCaj8H9R6Aazip3BMNsLHbLXERhDfOGCawgFGAFGpu666081w3z33jmek5Vxj9aS47hmaxPTvX9NKU4uPuCC3c_CMCwk8wLf4f_KG2DBBQ27plWZMlgxstdduwxI2EQV9kx_s74-KGg5x16pKET6obPR9ct7y2kgj8V1oaMe=w323-h377-no?authuser=0"
                onmouseout=this.src="https://raw.githubusercontent.com/hmpms-iscte/wake/main/wake_img/vasco.png">
        </div>
        <div class="column">
            <img src="https://raw.githubusercontent.com/hmpms-iscte/wake/main/wake_img/nazif.png"
                alt="nazif" style="width:100%">
        </div>
        <div class="column">
            <img src="https://raw.githubusercontent.com/hmpms-iscte/wake/main/wake_img/pina.png"
                alt="pina" style="width:100%">
        </div>
    </div>
</div>

{% endblock %}