{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
<style>
    .profile {
        color: rgb(194, 194, 174);
        font-size: 22px;
        font-family: "Bodoni MT";
        
    }

    .center_img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    /* Three image containers (use 25% for four, and 50% for two, etc) */
    .column {
        float: left;
        width: 17.5%;
        margin-left: auto;
        margin-right: auto;
        padding: 15px;
    }

    /* Clear floats after image containers */
    .row::after {
        content: "";
        clear: both;
        display: table;
    }
</style>


<div class="profile">
    <h1>Login</h1>
    <div class="links">
        <a href="{{ url_for('profile') }}" class="active">profile</a>
        <a href="#">Register</a>
    </div>
    <form action="{{ url_for('profile') }}" method="post">
        <label for="username">
            <i class="fas fa-user"></i>
        </label>
        <input type="text" name="username" placeholder="Username" id="username" required>
        <label for="password">
            <i class="fas fa-lock"></i>
        </label>
        <input type="password" name="password" placeholder="Password" id="password" required>
        <div class="msg">{{ msg }}</div>
        <input type="submit" value="Login">
    </form>
</div>
    
{% endblock %}