{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
<style>
  #header-waves {
    width: 65%;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }

  /* Container needed to position the button. Adjust the width as needed */
  .container {
    position: relative;
    width: 50%;
  }

  /* Make the image responsive */
  .container img {
    width: 100%;
    height: auto;
  }

  .bg {
    border-radius: 15px;
  }

  /* Style the button and place it in the middle of the container/image */
  .container .btn {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 20px;
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #11384b;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
    box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .container .btn:hover {
    background-color: #56baed;

  }

  .form {
    background-color: #15172b;
    border-radius: 20px;
    box-sizing: border-box;
    height: auto;
    padding: 20px;
    width: 1020px;
    text-align: center;
    position: relative;
    margin: auto;
  }

  .title {
    color: #eee;
    font-family: "Poppins", sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;
  }

  .subtitle {
    color: #eee;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
  }

  .legenda {
    position: relative;
    height: auto;
    overflow: hidden;
    margin-bottom: 10px;
    color: #eee;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
  }

  .tipo {
    width: 70%;
    display: inline;
    margin-right: 550px;
  }

  .quantidade {
    width: 10%;
    display: inline;
  }

  .input-container {
    height: 50px;
    position: relative;
    width: 100%;
  }

  .ic2 {
    margin-top: 30px;
  }

  .ic12 {
    position: relative;
    height: auto;
    overflow: hidden;
    margin-bottom: 10px;
  }

  .clothes_btn {
    position: relative;
    height: 75px;
    line-height: 50px;
    right: 0;
    top: 0;
    margin: 0;
    padding: 0;
    background: rgb(29, 29, 28);
    color: white;
    border: none;
    width: 30%;
    font-weight: bold;
    margin-bottom: 10px;

    background-size: cover;

  }


  input[type=checkbox] {
    -webkit-appearance: none;
    outline: 0;
    position: relative;
    height: 75px;
    line-height: 50px;
    right: 0;
    top: 0;
    margin: 0;
    padding: 0;
    background: rgb(29, 29, 28);
    color: white;
    border: none;
    width: 30%;
    font-weight: bold;
    margin-bottom: 10px;
    background-size: cover;
    display: inside;
    filter: brightness(60%);
  }

  input[type=checkbox]:hover {
    transform: scale(1.02);
    filter: brightness(105%);
  }

  input[type=checkbox]:checked {
    filter: brightness(100%);
  }

  #calcas {
    background-image: url("https://raw.githubusercontent.com/hmpms-iscte/wake/main/wake_img/btns/btn_calcas.png");
  }

  #camisola {
    background-image: url("https://raw.githubusercontent.com/hmpms-iscte/wake/main/wake_img/btns/btn_camisola_homem.png");
  }

  #tshirt {
    background-image: url("https://raw.githubusercontent.com/hmpms-iscte/wake/main/wake_img/btns/btn_tshirt_homem.png");
  }

  #sweat {
    background-image: url("https://raw.githubusercontent.com/hmpms-iscte/wake/main/wake_img/btns/btn_sweatshirt.png");
  }

  #casaco {
    background-image: url("https://raw.githubusercontent.com/hmpms-iscte/wake/main/wake_img/btns/btn_casaco_homem.png");
  }

  #calcoes {
    background-image: url("https://raw.githubusercontent.com/hmpms-iscte/wake/main/wake_img/btns/btn_calcoes_homem.png");
  }

  #camisa {
    background-image: url("https://raw.githubusercontent.com/hmpms-iscte/wake/main/wake_img/btns/btn_camisa.png");
  }


  .input {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 50%;
    display: inline;
  }

  .qnt {
    position: relative;
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 10%;
    display: inline;
  }

  .submit {
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    font-family: "Poppins", sans-serif;
    text-align: center;
    width: 100%;
  }

  .submit:active {
    background-color: #06b;
  }

  .back {
    background-image: url('https://raw.githubusercontent.com/hmpms-iscte/wake/main/wake_img/pexels_roupa.jpeg');
  }

  .seePackage input[type=checkbox] {
    background-color: #303245;
    border-radius: 12px;
    border: solid 2px;
    border-color: #eee;
    box-sizing: border-box;
    color: #eee;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 50%;
    display: inline;
    filter: brightness(110%)
  }

  .seePackage input[type=checkbox]:hover {
    transform: scale(1.02);
    filter: brightness(120%);
  }

  .seePackage input[type=checkbox]:checked {
    background-color: #08d;
  }

  .labelPackage{
    color: rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
    margin-left: 10px;
  }
</style>



<body class="back">

  {% if session['loggedin'] %}

  <!--FONTE: https://codepen.io/ainalem/pen/GRqPwoz-->

  <div class="bacdk">
    <br>
    <div class="form">
      <form method="post">
        <div class="title">Loja WAKE</div>
        <div class="subtitle">Indique os tipos de roupa pretendidos e o valor que pretende gastar</div>
        <div class="input-container ic2">
          <select id='orcamento' class="input" name='orcamento' placeholder="Selecione o orcamento" required>
            <option value="">Orçamento</option>
            <option value="20">Menor que 20€ </option>
            <option value="40">20€ - 40€</option>
            <option value="60">40€ - 60€ </option>
            <option value="80">60€ - 80€</option>
            <option value="+80">Maior que 80€</option>
          </select>
        </div>
        <br>
        <!--div class="legenda">
          <div class="tipo">Tipo de Roupa</div>
          <div class="quantidade">Quantidade</div>
        </div-->
        <div class="input-container ic12">

          <input type="checkbox" class="clothes_box" id="calcas" value="yes">
          <input type="number" id="qnt_calcas" class="qnt" name="peso" placeholder="Qtd" min="0">

          <input type="checkbox" class="clothes_box" id="camisola" value="yes">
          <input type="number" id="qnt_camisola" class="qnt" name="peso" placeholder="Qtd" min="0">

          <input type="checkbox" class="clothes_box" id="tshirt" value="yes">
          <input type="number" id="qnt_tshirt" class="qnt" name="peso" placeholder="Qtd" min="0">

          <input type="checkbox" class="clothes_box" id="sweat" value="yes">
          <input type="number" id="qnt_sweat" class="qnt" name="peso" placeholder="Qtd" min="0">

          <input type="checkbox" class="clothes_box" id="casaco" value="yes">
          <input type="number" id="qnt_casaco" class="qnt" name="peso" placeholder="Qtd" min="0">

          <input type="checkbox" class="clothes_box" id="calcoes" value="yes">
          <input type="number" id="qnt_calcoes" class="qnt" name="peso" placeholder="Qtd" min="0">

          <input type="checkbox" class="clothes_box" id="camisa" value="yes">
          <input type="number" id="qnt_camisa" class="qnt" name="peso" placeholder="Qtd" min="0">

        </div>

        <div class="seePackage">
          <input type="checkbox" class="" name="seePackage" id="seePackage" value="yes">
          <label for="seePackage" class="labelPackage">Prentedo visualizar o pacote antes de pagar.</label>
        </div>

        <input type="submit" class="submit" value="SEGUINTE">
      </form>
    </div>
    {% else %}
    <div class="container" id="header-waves">
      <img class="bg" src="https://raw.githubusercontent.com/hmpms-iscte/wake/main/wake_img/femea_forms.jpg" />
      <input class="btn" type="button" onclick="location.href='login';"
        value="FAZ LOGIN PARA PREENCHERES O TEU FORMULÁRIO...">
    </div>
  </div>


  {% endif %}
</body>

{% endblock %}